<ul class="list-group">

  <!-- <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
    class="list-group-item list-group-item-action" routerLink="">Home</a>
  <a routerLinkActive="active" class="list-group-item-action list-group-item" routerLink="about">About</a>

  <a routerLinkActive="active" class="list-group-item-action list-group-item" routerLink="contact">Contact</a> -->

  <a routerLinkActive="active" class="list-group-item-action list-group-item" routerLink="countries/by-region">By
    Region</a>
  <a routerLinkActive="active" class="list-group-item-action list-group-item" routerLink="countries/by-capital">By
    Capital</a>
  <a routerLinkActive="active" class="list-group-item-action list-group-item" routerLink="countries/by-country">By
    Country</a>

</ul>